<% if user_signed_in? %>

    <% unless post.like_user(current_user.id).blank? %>
        <%= link_to post_like_path(post_id: post.id, id: post.likes[0].id), method: :delete, remote: true do %>
            <div class="vertical_like">
                <i class="fas fa-heart"></i>
                <span class="red-text">
                    <%= post.likes_count %>
                </span>
            </div>
        <% end %>
    <% else %>
        <%= link_to post_likes_path(post.id), method: :post, remote: true do %>
            <div class="vertical_like">
                <i class="far fa-heart"></i>
                <span class="grey-text text-darken-2">
                    <%= post.likes_count %>
                </span>
            </div>
        <% end %>
    <% end %>

<% else %>

    <% if post.likes_count > 0 %>
        <div class="vertical-icons">
            <i class="far fa-heart"></i>
            <span class="red-text">
                <%= post.likes_count %>
            </span>
        </div>
    <% else %>
        <div class="vertical-icons">
            <i class="far fa-heart"></i>
            <span class="grey-text text-darken-2">
                <%= post.likes_count %>
            </span>
        </div>
    <% end %>

<% end %>

<label for="trigger" class="open_button">
    <%= post.likes_count %>件のいいね
</label>
<div class="modal_wrap">
    <input id="trigger" type="checkbox">
    <div class="modal_overlay">
        <label for="trigger" class="modal_trigger"></label>
        <div class="modal_content">
            <label for="trigger" class="close_button">✖️</label>
            <p><strong>いいねしたユーザー</strong></p>
            <div>
                <% post.liked_users.each do |user|%>
                    <%= link_to user_path(user) do %>
                        <li><%= user.user_name %></li>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>