<% if user_signed_in? %>

    <% unless post.like_user(current_user.id).blank? %>
        <div class="vertical_like">
            <%= link_to post_like_path(post_id: post.id, id: post.likes[0].id), method: :delete, remote: true do %>
                    <i class="fas fa-heart"></i>
            <% end %>
            <% if post.liked_users.size > 0 %>
                <%= link_to liked_users_post_path(post) do %>
                    <%= post.liked_users.size %>likes
                <% end %>
            <% end %>
        </div>
    <% else %>
        <div class="vertical_like">
            <%= link_to post_likes_path(post.id), method: :post, remote: true do %>
                <i class="far fa-heart"></i>
            <% end %>
            <% if post.liked_users.size > 0 %>
                <%= link_to liked_users_post_path(post) do %>
                    <%= post.liked_users.size %>likes
                <% end %>
            <% end %>
        </div>
    <% end %>

<% end %>

