<div class="container">
    <div class="row">
        <% @user ||= current_user %>
        <div class="stats">
            <label for="trigger2">
                <strong id="following" class="stat">
                    <%= @user.followings.count %>
                </strong>follow
            </label>
            <label for="trigger3">
                <strong id="followers" class="stat">
                    <%= @user.followers.count %>
                </strong>follower
            </label>
        </div>
    </div>
</div>

<div class="modal_wrap">
    <input id="trigger2" type="checkbox">
    <div class="modal_overlay">
        <label for="trigger2" class="modal_trigger"></label>
        <div class="modal_content">
            <label for="trigger2" class="close_button">✖️</label>
            <p><strong>フォロー中</strong></p>
            <div class="fuser">
                <% @user.followings.find_each do |user| %>
                    <%= link_to user_path(user) do %>
                        <% if user.avatar.attached? %>
                            <%= image_tag user.avatar.variant(combine_options:{resize:"50x50^",crop:"50x50+0+0", gravity: :center}).processed, class: "user-avatar"  %>
                        <% else %>
                            <%= image_tag 'img/no_image_user.png', :size => '50x50', class: "user-avatar" %>
                        <% end %>
                    <% end %>
                    <%= link_to user_path(user) do %>
                        <%= user.user_name %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="modal_wrap">
    <input id="trigger3" type="checkbox">
    <div class="modal_overlay">
        <label for="trigger3" class="modal_trigger"></label>
        <div class="modal_content">
            <label for="trigger3" class="close_button">✖️</label>
            <p><strong>フォロワー</strong></p>
            <div class="fusers">
                <% @user.followers.each do |user| %>
                    <div class="fuser">
                        <%= link_to user_path(user) do %>
                            <%= user.user_name %>
                        <% end %>
                        <%= link_to user_path(user) do %>
                            <% if user.avatar.attached? %>
                                <%= image_tag user.avatar.variant(combine_options:{resize:"50x50^",crop:"50x50+0+0"}, gravity: :center).processed, class: "user-avatar" %>
                            <% else %>
                                <%= image_tag 'img/no_image_user.png', :size => '50x50', class: "user-avatar" %>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>