<div class="container">

        <dl class="searchbox">
            <% provide(:post_caption, 'All posts') %>
            <%= search_form_for @q do |f| %>
                <dt><%= f.text_field :caption_cont ,placeholder: '投稿を検索...' %></dt>
                <dd>
                    <%= button_tag( class: "search-btn") do %>
                        <%= content_tag :span, "", class: "fa fa-search" %>
                    <% end %>
                </dd>
                <% end %>
                
		</dl>

    <div class="user-info">
        <%= link_to user_path(user) do %>
            <div class="">
                <% if user.avatar.attached? %>
                    <%= iamge_tag user.avatar, :size => "100x100" %>
                <% else %>
                    <%= image_tag "img/no_image_user.png", :size => "100x100" %>
                <% end %>
            </div>
            <div class="">
                <%= user.user_name %>
            </div>
        <% end %>
        <div class="">
            <%= render 'users/stats' %>
        </div>
        <div class="">
            <%= link_to 'プロフィール', user_path(user) %>
        </div>
        <div class="">
            <%= link_to 'コレクション' %>
        </div>
        <div class="">
            <%= link_to '新規投稿', new_post_path %>
        </div>
    </div>
</div>
