    <dl class="searchbox clearfix">
        <% provide(:post_caption, 'All posts') %>
        <%= search_form_for @q do |f| %>
            <dt><%= f.text_field :caption_cont ,placeholder: '投稿を検索...' %></dt>
            <dd>
                <%= button_tag( class: "search-btn") do %>
                    <%= content_tag :span, "", class: "fa fa-search" %>
                <% end %>
            </dd>
        <% end %>
	</dl>



<div class="" id="user-info">

    <div class="user-info col-xs-3 clearfix">
        <div class="">
        <%= link_to user_path(user) do %>
            <% if user.avatar.attached? %>
                <%= image_tag user.avatar.variant(resize: "120x120").processed, class: "user-avatar" %>
            <% else %>
                <%= image_tag "img/no_image_user.png", :size => "120x120", class: "user-avatar" %>
            <% end %>
        <% end %>
        </div>
        <div class="">
            <%= link_to user_path(user) do %>
                <%= user.user_name %>
            <% end %>
        </div>
        <div class="">
            <%= render 'users/stats' %>
        </div>
        <div class="">
            <%= link_to 'プロフィール', user_path(user) %>
        </div>
        <div class="">
            <%= link_to 'コレクション' %>
        </div>
        <div class="">
            <%= link_to '新規投稿', new_post_path %>
        </div>
    </div>
</div>
