<body id="body">
        <% if user_signed_in? %>
            <div class="suser-box">
                <div class="avatar">
                    <% if @user.avatar.attached? %>
                        <%= image_tag @user.avatar, :size => "200x200", class: "user-avatar" %>
                    <% else %>
                        <%= image_tag '/images/img/no_image_user.png', :size => "200x200", class: "user-avatar" %>
                    <% end %>
                </div>
                <div class="suser-info">
                    <div class="user-name">
                        <strong><%= @user.user_name %></strong>
                        <div class="user-edit">
                            <% if @user == current_user %>
                                <%= link_to "Edit Profile", edit_user_path(current_user), class: 'btn btn-sm btn-default' %>
                            <% end %>
                        </div>
                        <div class="follow_form"><%= render 'follow_form', class: "follow_form" %></div>
                    </div>
                    <div>
                        <strong><%= @user.posts.size %></strong> Posts
                    </div>
                    <div class="follow">
                        <div class="stats"><%= render 'stats' %></div>
                    </div>
                    <strong><%= link_to 'Liked Posts', liked_posts_user_path(@user) %></strong>
                </div>
            </div>
            <h4 class="text-center"><%= @user.user_name %>'s Posts</h4>
            <div class="text-center">
                <% @posts.each do |post| %>
                    <% post.captures.each do |capture| %>
                        <%= link_to post_path(post.id) do %>
                            <%= image_tag capture.variant(combine_options:{resize:"300x300^",crop:"300x300+0+0",gravity: :center}).processed, class: "users-capture" %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
</body>
