
<div class="container">
    <div class="row">
        <div>
            <% if current_user.admin? %>
            <% else %>
            <h3 class="user-name">
                <%= link_to edit_user_path(@user) do %>
                    <%= @user.user_name %>
                <% end %>
            </h3>
            <div class="avatar">
                <%= form_with model: @user, local: true do |f| %>
                    <% if @user.avatar.attached? %>
                        <%= image_tag @user.avatar, :size => "200x200", class: "user-avatar" %>
                    <% else %>
                        <%= image_tag 'img/no_image_user.png', :size => "200x200", class: "user-avatar" %>
                    <% end %>
                <% end %>
            </div>
            <div class="follow">
                <div class="follow_form"><%= render 'follow_form' %></div>
                <div class="stats"><%= render 'stats' %></div>
            </div>
            <label for="trigger" class="open_button"> いいねした投稿</label>
            <div class="modal_wrap">
                <input id="trigger" type="checkbox">
                <div class="modal_overlay">
                    <label for="trigger" class="modal_trigger"></label>
                    <div class="modal_content">
                        <label for="trigger" class="close_button">✖️</label>
                        <p><strong>いいねした投稿</strong></p>
                        <% @user.liked_posts.each do |post|%>
                            <%= link_to post_path(post) do %>
                                <li><%= post.user.user_name %></li>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <h4>captures</h4>
            <div class="user-posts">
                <% @posts.each do |post| %>
                    <%= link_to post_path(post.id) do %>
                        <% if post.captures.attached? %>
                            <% post.captures.each do |capture| %>
                                <%= image_tag capture.variant(resize:"200x200").processed %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>