<div class="container">
    <div class="row">
        <% @user.followers.each do |user| %>
        <table class="table">
            <tr>
                <td>
                    <%= link_to user_path(user) do %>
                        <%= user.user_name %>
                    <% end %>
                </td>
                <td>
                    <%= link_to user_path(user) do %>
                        <% if user.avatar.attached? %>
                            <%= image_tag user.avatar %>
                        <% else %>
                            <%= image_tag 'img/no_image_user.png', :size => '100x100' %>
                        <% end %>
                    <% end %>
                </td>
            </tr>
        </table>
        <% end %>
    </div>
</div>