<div class="post">
    <%= link_to user_path(post.user) do %>
        <%= post.user.user_name %><br />
    <% end %>
    <%= link_to post_path(post) do %>
        <% if post.captures.attached? %>
            <% post.captures.each do |capture| %>
                <%= image_tag capture %><br />
            <% end %>
        <% end %>
    <% end %>
    <%= post.nation.nation_name %><br />
    <%= post.caption %><br />
    <div id="likes_button_<%= post.id %>">
        <%= render partial: 'likes/like', locals: { post: post, likes: @likes } %>
    </div>
</div>