<div class="container">
        <div class="row">
            <div class="col-xs-3">
                <nav class="nav sidebar-nav affix" role="complementary">
                <% if user_signed_in? %>
                    <% unless current_user.admin? %>
                        <%= render 'users/user_info', user: current_user, post: @post %>
                    <% end %>
                <% end %>
                </nav>
            </div>
            <div class="col-xs-9">
                <h4>posts index</h4>
                <!-- <div id="posts">
                    <%#= render partial: 'posts/post', collection: @posts %>
                    <%#= paginate @posts, class: "pagination" %>
                </div> -->
                <div id="posts">
                    <div class="post">
                        <% @posts.each do |post| %>
                            <%= link_to user_path(post.user) do %>
                                <%= post.user.user_name %><br>
                            <% end %>
                            <%= link_to post_path(post) do %>
                                <% if post.captures.attached? %>
                                    <% post.captures.each do |capture| %>
                                        <%= image_tag capture.variant(resize:"300x300").processed %><br>
                                    <% end %>
                                <% end %>
                            <% end %>
                            <%= post.nation.nation_name %><br>
                            <%= render_with_hashtag(post.caption) %><br>
                            <div id="likes_buttons_<%= post.id %>">
                                <%= render partial: 'likes/like', locals: { post: post, likes: @likes } %>
                            </div>
                        <% end %>
                    </div>
                    <%= paginate @posts, class: "pagination" %>
                </div>
            </div>
        </div>
    </div>