<body id="body">
    <div class="container">
        <div class="row">
            <div class="clearfix col-xs-offset-1">
                <div class="nav sidebar-nav affix user-info-box" role="complementary">
                    <% if user_signed_in? %>
                        <%= render 'posts/user_info', user: current_user, post: @post %>
                    <% end %>
                </div>
            </div>
            <div class="posts-box col-xs-offset-2">
                <div id="tab-contents">
                    <div id="tab1" class="tab">
                        <div id="posts" class="posts">
                            <% @posts.each do |post| %>
                                <div class="post">
                                    <div class="post-user-info">
                                        <div>
                                            <%= link_to user_path(post.user) do %>
                                                <% if post.user.avatar.attached? %>
                                                    <%= image_tag post.user.avatar.variant(combine_options:{resize:"50x50^",crop:"50x50+0+0",gravity: :center}).processed, class: "user-avatar" %>
                                                <% else %>
                                                    <%= image_tag "/images/img/no_image_user.png", :size => "50x50", class: "user-avatar" %>
                                                <% end %>
                                            <% end %>
                                            <%= link_to user_path(post.user) do %>
                                                <%= post.user.user_name %>
                                            <% end %>
                                        </div>
                                        <div class="createddate">
                                            投稿日時｜<%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                                        </div>
                                    </div>
                                    <div class="post-capture-box">
                                        <%= link_to post_path(post) do %>
                                            <% post.captures.find_each do |capture| %>
                                                <%= image_tag capture.variant(combine_options:{resize:"614x614^",crop:"614x614+0+0",gravity: :center}).processed, class: "post-capture" %>
                                            <% end %>
                                        <% end %>
                                    </div>
                                    <div class="post-info">
                                        <div class="nation-name">
                                            Country : <%= truncate(post.nation.nation_name, :length => 34, :omission => "...") %>
                                        </div>
                                        <div id="likes_buttons_<%= post.id %>" class="likes_button">
                                            <%= render partial: 'likes/like', locals: { post: post, likes: @likes } %>
                                        </div>
                                        <div>
                                            <% if post.caption.length > 80 %>
                                                <div class="grad-wrap">
                                                    <input id="trigger_<%= post.id %>" class="grad-trigger" type="checkbox">
                                                    <label class="grad-btn" for="trigger_<%= post.id %>">view full text</label>
                                                    <div class="grad-item">
                                                        <%= render_with_hashtag(post.caption) %>
                                                    </div>
                                                </div>
                                            <% else %>
                                                <%= render_with_hashtag(post.caption) %>
                                            <% end %>
                                        </div>
                                    </div>
                                    <nav class="pagination"><%= paginate @posts %></nav>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <div id="tab2" class="tab">
                        <% if user_signed_in? %>
                            <% @userf.find_each do |user| %>
                            <% @posts = Post.where(user_id: user.id).reverse_order %>
                                <% @posts.each do |post| %>
                                    <div class="post">
                                        <div class="post-user-info">
                                            <div>
                                                <%= link_to user_path(post.user) do %>
                                                    <% if post.user.avatar.attached? %>
                                                        <%= image_tag post.user.avatar.variant(combine_options:{resize:"50x50^",crop:"50x50+0+0",gravity: :center}).processed, class: "user-avatar" %>
                                                    <% else %>
                                                        <%= image_tag "/images/img/mo_image_user.png", :size => "50x50", class: "user-avatar" %>
                                                    <% end %>
                                                <% end %>
                                                <%= link_to user_path(post.user) do %>
                                                    <%= post.user.user_name %>
                                                <% end %>
                                            </div>
                                            <div class="createddate">
                                                Posting Date｜<%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                                            </div>
                                        </div>
                                        <div class="post-capture-box">
                                            <%= link_to post_path(post) do %>
                                                <% post.captures.find_each do |capture| %>
                                                    <%= image_tag capture.variant(combine_options:{resize:"614x614^",crop:"614x614+0+0",gravity: :center}).processed, class: "post-capture" %>
                                                <% end %>
                                            <% end %>
                                        </div>
                                        <div class="post-info">
                                            <div class="nation-name">
                                                    Country : <%= truncate(post.nation.nation_name, :length => 40, :omission => "...") %>
                                            </div>
                                            <div id="likes_buttons_<%= post.id %>" class="likes_button">
                                                <%= render partial: 'likes/like', locals: { post: post, likes: @likes } %>
                                            </div>
                                            <div>
                                                <% if post.caption.length > 80 %>
                                                    <div class="grad-wrap">
                                                        <input id="trigger_<%= post.id %>" class="grad-trigger" type="checkbox">
                                                        <label class="grad-btn" for="trigger_<%= post.id %>">view full text</label>
                                                        <div class="grad-item">
                                                            <%= render_with_hashtag(post.caption) %>
                                                        </div>
                                                    </div>
                                                <% else %>
                                                    <%= render_with_hashtag(post.caption) %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                            <nav class="pagination"><%= paginate @userf %></nav>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <span id="back" class="backicon">
            <a href="#">
                <i class="fas fa-chevron-up fa-lg"></i>
            </a>
        </span>
    </div>
</body>



     <!-- new- post-modal -->
     <div class="postn_modal_wrapper">
            <div class="postn_modal">
                <div class="postn_modal_content">
                    <h2>New Post</h2>
                    <%= form_with model: @post do |f| %>
                    <div class="error-message"></div>
                        <div class="field">
                            <%= f.label :capture %>
                            <%= f.file_field :captures, multiple: true %>
                            <!-- <div class="preview"></div> -->
                        </div>
                        <div class="field">
                            <%= f.label :caption %>
                            <%= f.text_area :caption, class: "form-control", placeholder: "コメントを入力" %>
                        </div>
                        <div class="field">
                            <%= f.label :nation %>
                            <%= f.select :nation_id, options_from_collection_for_select(Nation.all, :id, :nation_name, @post.nation_id), {}, class: "searchable" %>
                        </div>
                        <div>
                            <%= f.submit "create", class: "btn" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
