<body id="bodypost">
    <div class="container">
        <div class="row">
            <div class="clearfix col-xs-offset-1">
                <div class="nav sidebar-nav affix user-info-box" role="complementary">
                    <% if user_signed_in? %>
                        <%= render 'posts/user_info', user: current_user, post: @post %>
                    <% end %>
                </div>
            </div>
            <div class="posts-box col-xs-offset-2">
                <div id="tab-contents">
                    <div id="tab1" class="tab">
                        <div id="posts" class="posts">
                            <% @result.each do |post| %>
                                <div class="post">
                                    <div class="post-user-info">
                                        <div>
                                            <%= link_to user_path(post.user) do %>
                                                <% if post.user.avatar.attached? %>
                                                    <%= image_tag post.user.avatar.variant(combine_options:{resize:"50x50^",crop:"50x50+0+0",gravity: :center}).processed, class: "user-avatar" %>
                                                <% else %>
                                                    <%= image_tag "/images/img/no_image_user.png", :size => "50x50", class: "user-avatar" %>
                                                <% end %>
                                            <% end %>
                                            <%= link_to user_path(post.user) do %>
                                                <%= post.user.user_name %>
                                            <% end %>
                                        </div>
                                        <div class="createddate">
                                            投稿日時｜<%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                                        </div>
                                    </div>
                                    <div class="post_capture_<%= post.id %>">
                                        <%= link_to post_path(post) do %>
                                            <% post.captures.each do |capture| %>
                                                <%= image_tag capture.variant(combine_options:{resize:"614x614^",crop:"614x614+0+0",gravity: :center}).processed, class: "post-capture" %>
                                            <% end %>
                                        <% end %>
                                    </div>
                                    <div class="post-info">
                                        <div class="nation-name">
                                            Country : <%= truncate(post.nation.nation_name, :length => 34, :omission => "...") %>
                                        </div>
                                        <div id="likes_buttons_<%= post.id %>" class="likes_button">
                                            <%= render partial: 'likes/like', locals: { post: post, likes: @likes } %>
                                        </div>
                                        <div>
                                            <% if post.caption.length > 80 %>
                                                <div class="grad-wrap">
                                                    <input id="trigger_<%= post.id %>" class="grad-trigger" type="checkbox">
                                                    <label class="grad-btn" for="trigger_<%= post.id %>">全文を表示
                                                    </label>
                                                    <div class="grad-item">
                                                        <%= render_with_hashtag(post.caption) %>
                                                    </div>
                                                </div>
                                            <% else %>
                                                <%= render_with_hashtag(post.caption) %>
                                            <% end %>
                                        </div>
                                    </div>
                                    <nav class="pagination"><%= paginate @result %></nav>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <div id="tab2" class="tab">
                        <% if user_signed_in? %>
                            <% @userf.find_each do |user| %>
                            <% @posts = Post.where(user_id: user.id).reverse_order %>
                                <% @posts.each do |post| %>
                                    <div class="post">
                                        <div class="post-user-info">
                                            <%= link_to user_path(post.user) do %>
                                                <% if post.user.avatar.attached? %>
                                                    <%= image_tag post.user.avatar.variant(combine_options:{resize:"50x50^",crop:"50x50+0+0",gravity: :center}).processed, class: "user-avatar" %>
                                                <% else %>
                                                    <%= image_tag "/images/img/mo_image_user.png", :size => "50x50", class: "user-avatar" %>
                                                <% end %>
                                            <% end %>
                                            <%= link_to user_path(post.user) do %>
                                                <%= post.user.user_name %>
                                            <% end %>
                                            <div class="createddate">
                                                投稿日時｜<%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                                            </div>
                                        </div>
                                        <div class="post_capture_<%= post.id %>">
                                            <%= link_to post_path(post) do %>
                                                <% post.captures.each do |capture| %>
                                                    <%= image_tag capture.variant(combine_options:{resize:"614x614^",crop:"614x614+0+0",gravity: :center}).processed, class: "post-capture" %>
                                                <% end %>
                                            <% end %>
                                        </div>
                                        <div class="nation-name">
                                                Country : <%= truncate(post.nation.nation_name, :length => 34, :omission => "...") %>
                                        </div>
                                        <div id="likes_buttons_<%= post.id %>" class="likes_button">
                                            <%= render partial: 'likes/like', locals: { post: post, likes: @likes } %>
                                        </div>
                                        <div>
                                            <% if post.caption.length > 80 %>
                                                <div class="grad-wrap">
                                                    <input id="trigger_<%= post.id %>" class="grad-trigger" type="checkbox">
                                                    <label class="grad-btn" for="trigger_<%= post.id %>">全文を表示
                                                    </label>
                                                    <div class="grad-item">
                                                        <%= render_with_hashtag(post.caption) %>
                                                    </div>
                                                </div>
                                            <% else %>
                                                <%= render_with_hashtag(post.caption) %>
                                            <% end %>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                            <nav class="pagination"><%= paginate @userf %></nav>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
        <span id="back" class="">
            <a href="#">
                <i class="fas fa-chevron-up navbar-nav nav navbar-fixed-bottom fa-lg"></i>
            </a>
        </span>
        </div>
    </div>
</body>


<div class="modal_wrap">
        <input id="triggery" type="checkbox">
        <div class="modal_overlay">
            <label for="triggery" class="modal_trigger"></label>
            <div class="modal_content">
                <label for="triggery" class="close_button">✖️</label>
                <p><strong>いいねしたユーザー</strong></p>
                <div>
                    <% @post.liked_users.find_each do |user|%>
                        <%= link_to user_path(user) do %>
                        <li><%= user.user_name %></li>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<% if user_signed_in? %>
    <div class="modal_wrap">
        <input id="trigger" type="checkbox">
        <div class="modal_overlay">
            <label for="trigger" class="modal_trigger"></label>
            <div class="modal_content">
                <label for="trigger" class="close_button">✖️</label>
                <p><strong>いいねした投稿</strong></p>
                <div>
                    <% @user.liked_posts.includes(:user).find_each do |post| %>
                        <div class="lpost-box">
                            <div class="lpost">
                                <%= link_to user_path(post.user) do %>
                                    <% if post.user.avatar.attached? %>
                                        <%= image_tag post.user.avatar, :size => "50x50", class: "user-avatar" %>
                                    <% else %>
                                        <%= image_tag '/images/img/no_image_user.png', :size => "50x50", class: "user-avatar" %>
                                    <% end %>
                                    <%= post.user.user_name %>
                                <% end %>の投稿
                            </div>
                            <div>
                                <%= link_to post_path(post) do %>
                                    <% post.captures.find_each do |capture| %>
                                            <%= image_tag capture.variant(combine_options:{resize:"50x50^",crop:"50x50+0+0", gravity: :center}).processed, class: "lposts" %>
                                        <% end %>
                                    <% end %>
                                にいいねしました
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>


     <!-- new- post-modal -->
     <div class="postn_modal_wrapper">
            <div class="postn_modal">
                <div class="postn_modal_content">
                    <h2>new Post</h2>
                    <%= form_with model: @post do |f| %>
                    <div class="error-message"></div>
                        <div class="field">
                            <%= f.label :capture %>
                            <%= f.file_field :captures, multiple: true %>
                            <!-- <div class="preview"></div> -->
                        </div>
                        <div class="field">
                            <%= f.label :caption %>
                            <%= f.text_area :caption, class: "form-control", placeholder: "コメントを入力" %>
                        </div>
                        <div class="field">
                            <%= f.label :nation %>
                            <%= f.select :nation_id, options_from_collection_for_select(Nation.all, :id, :nation_name, @post.nation_id), {}, class: "searchable" %>
                        </div>
                        <div>
                            <%= f.submit "create", class: "btn" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>