<!DOCTYPE html>
<html>
  <head>
    <title>tirpfrom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&amp;subset=japanese" rel="stylesheet">
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav class="navbar-right col-xs-2">
          <% if user_signed_in? %>
           <% user_name = current_user.user_name %>
          <% else %>
            <% user_name = "guest" %>
          <% end %>
          ようこそ<strong><%= " #{user_name}" %></strong>さん
        </nav>
      </div>
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <%= link_to root_path do %>
            <%= image_tag "img/logo.jpg", size:"50x50", class: "logo" %>
          <% end %>
          |
          <%= link_to root_path do %>
            <strong> trip from</strong>
          <% end %>
        </nav>

        <nav>
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li><%= link_to "admintop", admin_top_path %></li>
              <li><%= link_to "users", users_path %></li>
              <li><%= link_to "posts", posts_path %></li>
              <li><%= link_to "log_out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li>
                <%=link_to user_path(current_user.id) do %>
                  <div class="header-item">
                    <span class="header-icon"><i class="fa fa-user"></i></span>
                    <p>MyPage</p>
                  </div>
                <% end %>
              </li>
              <li>
                <%=link_to posts_path do %>
                  <div class="header-item">
                    <span class="header-icon"><i class="far fa-images"></i></span>
                    <p>Posts</p>
                  </div>
                <% end %>
              </li>
              <li>
                <%=link_to new_post_path do %>
                  <div class="header-item">
                    <span class="header-icon"><i class="fas fa-camera"></i></span>
                    <p>NewPost</p>
                  </div>
                <% end %>
              </li>
              <li>
                <%=link_to user_path(current_user.id) do %>
                  <div class="header-item">
                    <span class="header-icon"><i class="fas fa-map-marker-alt"></i></span>
                    <p>Trip</p>
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <div class="header-item">
                    <span class="header-icon"><i class="fas fa-sign-out-alt"></i></span>
                    <p>ログアウト</p>
                  </div>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <li>
              <%=link_to posts_path do %>
                <div class="header-item">
                  <span class="header-icon"><i class="far fa-images"></i></span>
                  <p>Posts</p>
                </div>
              <% end %>
            </li>
            <li>
              <%=link_to new_user_registration_path do %>
                <div class="header-item">
                  <span class="header-icon"><i class="fas fa-user-plus"></i></span>
                  <p>SignUp</p>
                </div>
              <% end %>
            </li>
            <li>
              <%=link_to new_user_session_path do %>
                <div class="header-item">
                  <span class="header-icon"><i class="fas fa-sign-in-alt"></i></span>
                  <p>LogIn</p>
                </div>
              <% end %>
            </li>
          <% end %>
          </ul>
        </nav>
      </div>
    </header>

    


    <%= yield %>


      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <h5 class="pull-right">tripfrom</h5>
          </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
      <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
  </body>
</html>
